<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Welcome, {{session['first_name']}}!!!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class = "nav-link" href = "/find">Find A Device</a>
                    <a class = "nav-link" href = "/post">Post A Device</a>
                    <a class = "nav-link" href = "/learn">Learn About Devices</a>
                    <a href = "/logout" class = "btn btn-success">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h2>Your Posted Devices:</h2>
                <div style = "border:5px solid black; padding-top: 20px;">
                    <ul style = "list-style-type: None;">
                        {% for this_device in all_devices %}
                        <li>
                            <sp>{{this_device.type}}</sp>
                            <a href = "/delete/{{this_device.id}}">Delete</a>
                            <a href = "/edit/{{this_device.id}}/edit">Edit</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <h2>Your Saved Devices:</h2>
                <div style = "border:5px solid black; padding-top: 20px;">
                    <ul style = "list-style-type: None;">
                        {% for this_device in all_saved_devices %}
                        <li>
                            <sp>{{this_device.type}}</sp>
                            <a href = "/remove/{{this_device.id}}">Remove</a>
                            <a href = "#">Contact</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>