<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Find A Device</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navigation</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/find">Find a Device</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href = "/post">Donate a Device</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/learn">Learn About Devices</a>
                    </li>
                    <li class = "nav-item">
                        <a href = "/logout" class = "btn btn-danger btn-outline-dark">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Find A Device:</h1>
                <form action = "/find_device" method = "POST">
                    <div class="mb-3">
                        <label for="type" class="form-label">Device Type (select):</label>
                        <select name = 'type' class="form-control" id="type">
                            <option value = "front-wheeled walker">front-wheeled walker</option>
                            <option value = "four-wheeled walker">four-wheeled walker</option>
                            <option value = "single-point cane">single-point cane</option>
                            <option value = "quad cane">quad cane</option>
                            <option value = "wheelchair">wheelchair</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="zip_code" class="form-label">Zip Code:</label>
                        <input type="number" class="form-control" id="zip_code" name = "zip_code">
                    </div>
                    <div class = "mb-3">
                        <button class = "btn btn-success" value = "submit">Update</button>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <img class = "logo" src = "static/img/cane_exchange.png" alt = "cane exchange logo">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>