<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Learn About Devices</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Welcome, {{session['first_name']}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                    <a class = "nav-link" href = "/find">Find A Device</a>
                    <a class = "nav-link" href = "/post">Donate A Device</a>
                    <a href = "/logout" class = "btn btn-success">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <table class = "table table-striped">
                    <thead>
                        <tr>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Where to purchase</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="static/walker.jpg" style = "width: 100px;" alt = "picture of a volunteer helping a person stand from a car using a walker">
                                <p><a href ="https://www.youtube.com/watch?v=cleZfOrgEIk" >How to use a walker</a></p>
                            </td>
                            <td>Front-wheeled Walker</td>
                            <td>
                                <ul>
                                    <li>Moderate balance deficits</li>
                                    <li>Maximal walking stability</li>
                                    <li>Can be used to offload weight</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><a href = "https://www.amazon.com/s?k=front-wheeled+walker&rh=n%3A8624314011&ref=nb_sb_noss">Amazon</a></li>
                                    <li>Walgreens</li>
                                    <li>RiteAid</li>
                                    <li>Bellevue Healthcare</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href = "https://www.youtube.com/watch?v=W6AY-kFjC9o">How to use four-wheeled walker</a>
                            </td>
                            <td>Four-wheeled Walker (Rollator)</td>
                            <td>                                
                                <ul>
                                    <li>Mild balance deficits</li>
                                    <li>Minimal walking stability</li>
                                    <li>Frequent seated rest breaks</li>
                                    <li>CANNOT be used to offload weight</li>
                                    <li>NOT to be used as a wheelchair</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><a href = "https://www.amazon.com/s?k=four-wheeled+walker&i=hpc&rh=n%3A8624314011%2Cp_36%3A5000-15000&qid=1659072678&rnid=386636011&ref=sr_nr_p_36_5">Amazon</a></li>
                                    <li>Bellevue Healthcare</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <image src = "static/cane.jpg" style = "width:100px;" alt = "cane leaning against wall next to bookshelf"></image>
                                <p><a href = "https://www.youtube.com/watch?v=sFMEmG6YKDI">How to use a single-point cane</a></p>
                            </td>
                            <td>Single-Point Cane</td>
                            <td>                                
                                <ul>
                                    <li>Mild balance deficits</li>
                                    <li>Minimal walking stability</li>
                                    <li>Maximal maneuverability</li>
                                    <li>CANNOT BE used for offloading weight</li>
                                </ul>
                            </td>
                            <td>                             
                                <ul>
                                    <li><a href = "https://www.amazon.com/s?k=single+point+cane+adjustable&i=hpc&rh=n%3A3776641%2Cp_n_feature_browse-bin%3A23864937011&s=review-rank&dc&ds=v1%3A0j4owUg4WhF2ldW05hACXNEYVPLT3KEtdf7JQ6u9bWo&crid=BX8CJ325NRW0&qid=1659072150&rnid=23864810011&sprefix=single+point+cane+adjustabl%2Caps%2C132&ref=sr_st_review-rank">Amazon</a></li>
                                    <li>Walgreens</li>
                                    <li>RiteAid</li>
                                    <li>Bellevue Healthcare</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href = "https://www.youtube.com/watch?v=ZWFfstzrCNs">How to use a quad cane</a>
                            </td>
                            <td>Quad Cane</td>
                            <td>
                                <ul>
                                    <li>Mild to moderate balance deficits</li>
                                    <li>Better stability than single point cane</li>
                                    <li>Useful if user has hemiparesis</li>
                                    <li>CANNOT BE used for offloading weight</li>
                                </ul>
                            <td>
                                <ul>                                
                                    <li><a href = "https://www.amazon.com/s?k=wide+base+quad+cane&i=hpc&bbn=3776641&rh=n%3A3776641%2Cp_36%3A1253519011%2Cp_89%3ACarex+Health+Brands%7CDrive+Medical&dc&qid=1659072926&rnid=2528832011&ref=sr_nr_p_89_1&ds=v1%3AmkM6Fk9QGAltviU%2BCaWj%2B6NaIDJgflXDbCmPTKsT%2FUE">Amazon</a></li>
                                    <li>Bellevue Healthcare</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src = "static/wheelchair.jpg" style = "width:100px" alt = "picture from behind of a person using a wheelchair">
                                <p><a href = "https://www.youtube.com/watch?v=cGIplwpLZNE">How to use a wheelchair</a></p>
                            </td>
                            <td>Wheelchair</td>
                            <td>
                                <ul>
                                    <li>Severe balance deficits, pain, or offloading required</li>
                                    <li>Maximal stability</li>
                                    <li>Best for used for offloading weight</li>
                                </ul>
                            <td>
                                <ul>
                                    <li>Bellevue Healthcare</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>