<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Learn About Devices</title>
</head>
<body>
    <a href="#maincontent">Skip Navigation</a>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navigation</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/find">Find a Device</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href = "/post">Donate a Device</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/learn">Learn About Devices</a>
                    </li>
                    <li class = "nav-item">
                        <a href = "/logout" class = "btn btn-danger btn-outline-dark">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Disclaimer!</strong> The information provided in this webpage cannot substitute for the individualized recommendations that you would receive from a visit with your physical therapist.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container-fluid" id = "maincontent">
        <div class="row">
            <div class="col-12">
                <table class = "table table-striped">
                    <thead>
                        <tr>
                            <th>Device</th>
                            <th>Best for:</th>
                            <th>Where to purchase</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>Front-wheeled walker</p>
                                <img src="/static/img/walker.jpg" id = "walker" alt = "picture of a two-wheeled walker" onmouseover="magnifyImage(this)" onmouseout = "revertImage(this)">
                                <p><a href ="https://www.youtube.com/watch?v=cleZfOrgEIk" target = "_blank">How to use a walker</a></p>
                            </td>
                            <td>
                                <ul>
                                    <li class = "bullet">People who are very unsteady on their feet and/or fall frequently</li>
                                    <li class = "bullet">People who are not able to or are not allowed to put full weight on one leg</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li class = "bullet"><a href = "https://www.amazon.com/s?k=front-wheeled+walker&rh=n%3A8624314011&ref=nb_sb_noss" target = "_blank">Amazon</a></li>
                                    <li class = "bullet"><a href = "https://bellevuehealthcare.com/product-category/hme/ambulatory-aids/walkers/" target = "_blank">Bellevue Healthcare</a></li>
                                    <li class = "bullet"><a href = "https://www.walgreens.com/store/c/walgreens-folding-walker-with-wheels/ID=prod6183388-product" target = "_blank">Walgreens</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Four-wheeled Walker (Rollator)</p>
                                <img src="/static/img/rollator.jpg" id = "rollator" alt = "picture of a walker with four wheels" onmouseover="magnifyImage(this)" onmouseout = "revertImage(this)">
                                <p><a href = "https://www.youtube.com/watch?v=W6AY-kFjC9o" target = "_blank">How to use four-wheeled walker</a></p>
                            </td>
                            <td>                                
                                <ul>
                                    <li class = "bullet">People who are a little bit unsteady on their feet</li>
                                    <li class = "bullet">People who need frequent seated rest breaks due to poor endurance or respiratory issues</li>
                                    <li class = "bullet">Caution: four-wheeled walkers are not for people who cannot put full weight on one leg</li>
                                    <li class = "bullet">Caution: four-wheeled walkers cannot be safely used as wheelchairs</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li class = "bullet"><a href = "https://www.amazon.com/s?k=four-wheeled+walker&i=hpc&rh=n%3A8624314011%2Cp_36%3A5000-15000&qid=1659072678&rnid=386636011&ref=sr_nr_p_36_5" target = "_blank">Amazon</a></li>
                                    <li class = "bullet"><a href = "https://bellevuehealthcare.com/product-category/hme/ambulatory-aids/rollators/" target = "_blank">Bellevue Healthcare</a></li>
                                    <li class = "bullet"><a href = "https://www.walgreens.com/store/c/walgreens-steel-rollator/ID=prod6392733-product" target = "_blank">Walgreens</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Single-Point Cane</p>
                                <image src = "/static/img/cane.jpg" id = "cane" alt = "picture of a single-point cane" onmouseover="magnifyImage(this)" onmouseout = "revertImage(this)"></image>
                                <p><a href = "https://www.youtube.com/watch?v=sFMEmG6YKDI" target = "_blank">How to use a single-point cane</a></p>
                            </td>
                            <td>                                
                                <ul>
                                    <li class = "bullet">People who feel a little bit unsteady on their feet but do not fall frequently</li>
                                    <li class = "bullet">Caution: canes cannot be used by people who are not allowed by their doctor to put full weight on one leg</li>
                                </ul>
                            </td>
                            <td>                             
                                <ul>
                                    <li class = "bullet"><a href = "https://www.amazon.com/s?k=single+point+cane+adjustable&i=hpc&rh=n%3A3776641%2Cp_n_feature_browse-bin%3A23864937011&s=review-rank&dc&ds=v1%3A0j4owUg4WhF2ldW05hACXNEYVPLT3KEtdf7JQ6u9bWo&crid=BX8CJ325NRW0&qid=1659072150&rnid=23864810011&sprefix=single+point+cane+adjustabl%2Caps%2C132&ref=sr_st_review-rank" target = "_blank">Amazon</a></li>
                                    <li class = "bullet"><a href = "https://bellevuehealthcare.com/product/nova-offset-cane/" target = "_blank">Bellevue Healthcare</li>
                                    <li class = "bullet"><a href = "https://www.walgreens.com/store/c/walgreens-offset-cane/ID=prod6183389-product" target = "_blank">Walgreens</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Quad Cane</p>
                                <image src = "/static/img/quad_cane.jpg" id = "quad_cane" alt = "picture of a cane with a four-point base" onmouseover="magnifyImage(this)" onmouseout = "revertImage(this)"></image>
                                <p><a href = "https://www.youtube.com/watch?v=ZWFfstzrCNs" target = "_blank">How to use a quad cane</a></p>
                            </td>
                            <td>
                                <ul>
                                    <li class = "bullet">For people who are unsteady on their feet and fall frequently but who cannot put both hands on a walker (e.g. stroke, fracture)</li>
                                    <li class = "bullet">Caution: quad canes cannot be used by people who are not allowed by their doctor to put full weight on one leg</li>
                                </ul>
                            <td>
                                <ul>                                
                                    <li class = "bullet"><a href = "https://www.amazon.com/s?k=wide+base+quad+cane&i=hpc&bbn=3776641&rh=n%3A3776641%2Cp_36%3A1253519011%2Cp_89%3ACarex+Health+Brands%7CDrive+Medical&dc&qid=1659072926&rnid=2528832011&ref=sr_nr_p_89_1&ds=v1%3AmkM6Fk9QGAltviU%2BCaWj%2B6NaIDJgflXDbCmPTKsT%2FUE" target = "_blank">Amazon</a></li>
                                    <li class = "bullet"><a href = "https://bellevuehealthcare.com/product/small-base-quad-cane/" target = "_blank">Bellevue Healthcare</li>
                                    <li class = "bullet"><a href = "https://www.walgreens.com/store/c/walgreens-small-base-quad-cane/ID=300397481-product" target = "_blank">Walgreens</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Wheelchair</p>
                                <img src = "/static/img/wheelchair.jpg" id = "wheelchair" alt = "picture of a wheelchair" onmouseover="magnifyImage(this)" onmouseout = "revertImage(this)">
                                <p><a href = "https://www.youtube.com/watch?v=cGIplwpLZNE" target = "_blank">How to use a wheelchair</a></p>
                            </td>
                            <td>
                                <ul>
                                    <li class = "bullet">People who are extremely unsteady on their feet</li>
                                    <li class = "bullet">People who cannot walk the distances that they need to (with or without help)</li>
                                    <li class = "bullet">People who must keep the weight off of one or more limbs but who are unable to do so when using a walker</li>
                                </ul>
                            <td>
                                <ul>
                                    <li class = "bullet"><a href = "https://bellevuehealthcare.com/product-category/mobility/manual-wheelchairs/" target = "_blank">Bellevue Healthcare</a></li>
                                    <li class = "bullet"><a href = "https://www.walgreens.com/store/c/karman-lightweight-deluxe-18-inch-steel-wheelchair-with-removable-armrests,-36-lbs./ID=prod6117565-product" target = "_blank">Walgreens</a></li>
                                    <li class = "bullet"><a href = "https://www.apriadirect.com/mckesson-wheelchair-padded-arms-composite-wheels-black-upholstery-20-inch-seat-width" target = "_blank">Apria Direct</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script src="/static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>