<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Send Reply</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navigation</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/find">Find a Device</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href = "/post">Donate a Device</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/learn">Learn About Devices</a>
                    </li>
                    <li class = "nav-item">
                        <a href = "/logout" class = "btn btn-danger btn-outline-dark">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>Send Reply to {{message_recipient.first_name}} {{message_recipient.last_name}}</h3>
                <h6>about {{this_device.type}} in {{this_device.zip_code}}</h6>
                <form action = "/add_reply_to_db/{{message_recipient.id}}/{{this_device.id}}" method = "POST">
                    <div class="mb-3">
                        <input type = "hidden" id = "recipient_id" name = "recipient_id" value = "{{message_recipient.id}}">
                        <input type = "hidden" id = "device_id" name = "device_id" value = "{{this_device.id}}">
                        <label for="message" class="form-label">Write your message:</label>
                        <textarea class="form-control" id="message" rows="3" name = "message"></textarea>
                    </div>
                    <div class = "mb-3">
                        <button class = "btn btn-primary" value = "submit_message">Send Message</button>
                    </div>
                </form>
            </div>
            {% with messages = get_flashed_messages() %} 
                {% if messages %}
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>