<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <a href="#maincontent2">Skip Navigation</a>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navigation</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/welcome">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/find">Find a Device</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href = "/post">Donate a Device</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/learn">Learn About Devices</a>
                    </li>
                    <li class = "nav-item">
                        <a href = "/logout" class = "btn btn-danger btn-outline-dark">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="alert alert-warning text-dark alert-dismissible fade show" role="alert">
        <strong>Tip:</strong> Use the black navigation bar with the white text links at the top of each page to help you get to the right pages. If you get lost, click "Home" to bring you back here.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container" id = "maincontent2">
        <div class="row">
            <div class="col-12">
                <h1>Welcome to Cane Exchange:</h1>
                <h3>Your resource for locating, donating, and learning about assistive devices that can help you get around.</h2>
                <img src = "/static/img/logo.png" id = "logo-main" alt = "cane exchange logo: two canes crossed in the shape of an x with website name text below">
                <h4>Click on an option below to get started:</h4>
                <ul>
                    <li><a href="/dashboard" style = "color:navy;">Dashboard</a>:   Shows devices that you've saved, devices that you're offering for donation, messages from others.</li>
                    <li><a href="/find" style = "color:navy;">Find a Device</a>:   Lets you search for devices in your zip code that are being donated.</li>
                    <li><a href = "/post" style = "color:navy;">Donate a Device</a>:   Lets you put in your device details to offer it for donation to another user on this site.</li>
                    <li><a href="/learn" style = "color:navy;">Learn About Devices</a>:   Gives you information about who can safely use each device and links to pages about how to use the and where to buy them.</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>