body{
    background-color:#a47dc2;
}
img {
    width: 200px;
    border: 3px solid black;
}
.logo{
    margin-top: 30px;
    width: 350px;
    border: none;
}
#register{
    background-color:black;
    color: #fefefe;
}
#logo-main{
    margin: 30px;
    border: none;
    width: 250px;
    align-items: center;
}
.container {
    margin-top:50px;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 20px;
    margin-top: 20px;
}
.bullet{
    margin-bottom: 15px;
}
a {
    color: #000060;
}
#maincontent2{
    background-color: #fefefe;
    border: 3px solid black;
}
#headingOne{
    margin: 0 auto;
}
#bar{
    background-color:black;
    height:5px;
}

.empty{
    display: none;
}

#received{
    margin-left: 30px;
}