body{
    background-color:#3E79E0;
}
img {
    width: 200px;
    border: 3px solid black;
}
.logo{
    margin-top: 30px;
    width: 350px;
    border: none;
}
#register{
    background-color:black;
    color: white;
}
#logo-main{
    margin: 30px;
    border: none;
    width: 250px;
    align-items: center;
}
.container {
    margin-top:50px;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 20px;
    margin-top: 20px;
}
.bullet{
    margin-bottom: 15px;
}
a {
    color: white;
}
#maincontent2{
    background-color: white;
}
#headingOne{
    margin: 0 auto;
}